@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
    .sm-hide{
        display:none;
    }
}

.container-fluid-0 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}