<div class="side-nav">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/home']">
                <span class='fa fa-home'></span> Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fish']">
                <span class='fa fa-home'></span> Fish
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/genus/new']">
                <span class='fa fa-plus'></span> New Genus
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/genus/species/new']">
                    <span class='fa fa-plus'></span> New Species
                </a>
            </li>
    </ul>
</div>