li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #007bff;
    color: white;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.side-nav {
    position: fixed;
    background-color: lightgray;
    height: 100%;
    width: calc(25% - 10px);
    
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }
}