<div class="side-nav">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/home']">
                <span class='fa fa-home'></span> Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fish']">
                <span class='fa fa-home'></span> Fish
            </a>
        </li>
        
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/corals']">
                <span class='fa fa-home'></span> Corals
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/invertebrates']">
                <span class='fa fa-home'></span> Invertebrates
            </a>
        </li>
    </ul>
</div>