.collapse{
    display: none !important;
}
.collapse.show{
    display: flex !important;
}
li .fa {
    margin-left: 10px;
}

.item-small{
    font-size: 12px !important;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #007bff;
    color: white;
}



.nav-pills .nav-link {
    border-radius: 0rem;
}

.side-nav {
    position: fixed;
    background-color: lightgray;
    height: 100%;
    width: calc(16.66% - 10px);
    
}

.side-nav ul {
    float: none;
}
.side-nav li {
    float: none;
    font-size: 15px;
}
 .side-nav li a {
    padding: 10px 16px;
    /* border-radius: 4px; */
} 
.side-nav a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}